.home {
  --heading-content-space: 1rem;

  width: min(var(--page-gutter), var(--page-width));
  flex: 1;
  margin: 0 auto;
  padding: 12vh 0 4rem;
}

.site-heading {
  margin-bottom: var(--heading-content-space);
  text-align: center;
}

.site-heading h2 {
  max-width: 48rem;
  margin: 2rem auto;
}

.home-content-block {
  margin-bottom: 2rem;
  padding: 1rem;
}

.home-content-block > :first-child {
  margin-top: 0;
}

.home-content-block > :last-child {
  margin-bottom: 0;
}

.home-content-block a {
  color: var(--color-accent);
}

.home-content-block--information {
  /* Information block customizations */
}

.home-content-block--presentation {
  /* Presentation block customizations */
  border: 0px solid var(--color-text);
  border-radius: 1rem;
  background-color: var(--color-muted);
}

.home-content-block--nouvelles {
  /* Nouvelles block customizations */
}

.home-cover {
  width: 100%;
  margin: 0rem;
  overflow: hidden;
  border: 1px solid var(--color-background);
  background: var(--color-background);
}

.home-cover img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.home-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.home-menu-item {
  font-size: 1.35rem;
}

.home-menu-separator {
  color: var(--color-muted);
}

@media (min-width: 520px) {
  .home-cover {
    margin-bottom: 0rem;
  }

  .home-menu-item {
    font-size: 1.6rem;
  }
}

@media (min-width: 840px) {
  .home-cover {
    margin-bottom: 0rem;
  }

  .home-menu-item {
    font-size: 2rem;
  }
}
